.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 510px;
    border-radius: 5px;
}

.container > img {
    width: 240px;
    height: 240px;
}

.stats {
    display: flex;
    gap: 50px;
}

.column > p {
    font-size: 18px;
    font-weight: 600;
}

.gray {
    background-color: rgb(170, 155, 155);
}

.green {
    background-color: rgb(28, 218, 28);
}

.blue {
    background-color: rgb(41, 41, 206);
}

.red {
    background-color: rgb(255, 51, 0);
}